@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default, dracula --prefersdark;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Atkinson", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}


h1 {
	@apply text-5xl font-bold;
}
h2 {
    @apply text-4xl font-bold;
}
h3 {
	@apply text-3xl font-bold;
}
h4 {
	@apply text-2xl font-bold;
}
h5 {
	@apply text-xl font-bold;
}

main {
	width: 800px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

main:first-child {
    @apply mt-2;
}

main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-6;
    }
    h2 {
        @apply mt-16;
    }

    p {
        margin-bottom: 1.4em;
    }

    a {
        @apply text-secondary;
    }
    a:hover {
        @apply text-primary underline;
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 1em;
        margin-bottom: 1.4em;
    }
}

strong,
b {
	font-weight: 700;
}

.navbar-end {
    gap: 0.5rem;
}

.navbar a {
    color: var(--color-base-content);
}

footer a {
    color: var(--color-base-content);

    :hover {
        color: inherit;
    }
}
