@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default, dracula --prefersdark;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

.navbar-end {
    gap: 0.5rem;
}

.navbar a {
    color: var(--color-base-content);
}

footer a {
    color: var(--color-base-content);

    :hover {
        color: inherit;
    }
}
