@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap'); */
@import "tailwindcss";

@plugin "daisyui" {
  themes: bumblebee --default, dracula --prefersdark;
}


body {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
    /* hyphens: auto; */
	font-size: 20px;
	line-height: 1.7;
}

@utility caveat {
    font-family: "Caveat", cursive;
}

h1,
h2,
h3,
h4,
h5 {
    @apply caveat;
}
h1 {
	@apply text-5xl font-bold;
}
h2 {
    @apply text-4xl font-bold;
}
h3 {
	@apply text-3xl font-bold;
}
h4 {
	@apply text-2xl font-bold;
}
h5 {
	@apply text-xl font-bold;
}


main {
	width: 800px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 1em 1em;
}

main:first-child {
    @apply mt-2;
}

main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-6;
    }
    h2 {
        @apply mt-16;
    }

    p {
        margin-bottom: 1.4em;
    }

    a {
        @apply text-secondary;
    }
    a:hover {
        @apply text-primary underline;
    }

    a[href^="http"]::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 5px;

        /* Set the icon as a mask */
        -webkit-mask-image: url('/icons/external-link.svg');
        mask-image: url('/icons/external-link.svg');
        mask-repeat: no-repeat;
        mask-size: contain;

        /* Change this to any color you want! */
        background-color: var(--color-base-content);
    }

    ul,ol {
        list-style-position: inside;
        padding-left: 1em;
        margin-bottom: 1.4em;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
}

strong,
b {
	font-weight: 700;
}

.navbar-end {
    gap: 0.5rem;
}

.navbar a {
    color: var(--color-base-content);
}

.apple-music-embed {
    display: flex;
    justify-content: center;
}

blockquote {
    border-left: 4px solid var(--color-accent);
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    color: rgb(var(--gray));
    font-style: italic;
}

footer a {
    color: var(--color-base-content);

    :hover {
        color: inherit;
    }
}

.blog-posts {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li {
        width: calc(50% - 1rem);
    }
    ul li * {
        text-decoration: none;
        transition: 0.2s ease;
    }
    ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }
    ul li:first-child img {
        width: 100%;
    }
    ul li:first-child .title {
        font-size: 2.369rem;
    }
    ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
    }
    ul li a {
        display: block;
    }
    .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
    }
    ul li a:hover h4,
    ul li a:hover .date {
        color: rgb(var(--accent));
    }
    ul a:hover img {
        box-shadow: var(--box-shadow);
    }
    @media (max-width: 720px) {
        ul {
            gap: 0.5em;
        }
        ul li {
            width: 100%;
            text-align: center;
        }
        ul li:first-child {
            margin-bottom: 0;
        }
        ul li:first-child .title {
            font-size: 1.563em;
        }
    }
}

article {
    width: 800px;
	max-width: calc(100% - 2em);
	margin: auto;
    .hero-image {
        width: 100%;
    }
    .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
    }
    .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
    }
    .title h1 {
        margin: 0 0 0.5em 0;
    }
    .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
    }
    .last-updated-on {
        font-style: italic;
    }
}