@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default, dracula --prefersdark;
}

main {
	width: 800px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}


h1 {
	@apply text-5xl font-bold;
}
h2 {
    @apply text-4xl font-bold;
}
h3 {
	@apply text-3xl font-bold;
}
h4 {
	@apply text-2xl font-bold;
}
h5 {
	@apply text-xl font-bold;
}
main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-6;
    }
    h2 {
        @apply mt-16;
    }
    h2:first-of-type {
        @apply mt-2;
    }

    p {
        margin-bottom: 1.4em;
    }

    a {
        @apply text-secondary;
    }
    a:hover {
        @apply text-primary underline;
    }

}

strong,
b {
	font-weight: 700;
}

.navbar-end {
    gap: 0.5rem;
}

.navbar a {
    color: var(--color-base-content);
}

footer a {
    color: var(--color-base-content);

    :hover {
        color: inherit;
    }
}
