---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HeroWithFigure from '../components/HeroWithFigure.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<HeroWithFigure
				greeting="Well, hello!"
				figure={{ src: "src/assets/davidamos.png", alt: "TODO" }}
			>
				I'm David Amos, a husband, father, thinker, writer, and musician.
			</HeroWithFigure>

		</main>
		<Footer />
	</body>
</html>
