---
import { Icon } from "astro-icon/components"
import { SOCIAL_LINKS } from "../consts"
---
<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10">
  <!-- <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav> -->
  <nav>
    <div class="btn-group text-black">
		{SOCIAL_LINKS.map((link) => (
		<a href={link.href} class="btn btn-ghost text-black"><Icon name={link.icon} class="text-xl"/></a>
		))}
	</div>
  </nav>
  <aside>
    <p>Copyright © {new Date().getFullYear()} - All rights reserved by David Amos</p>
  </aside>
</footer>
